### 유동인구와 음식업종 사이 상관관계

In [33]:
!pip install statsmodels
import statsmodels.api as sm
import csv
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import math
import scipy.stats as stats

In [4]:
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
# 글씨 깨짐 방지
from matplotlib import rc  
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [6]:
# 빅쿼리에 접근

from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file("json파일 경로")

In [7]:
from google.cloud import bigquery

client = bigquery.Client(
    credentials = credentials,
    project = credentials.project_id
)

## 22년 유동인구 ~ 업종 관계

In [55]:
population=pd.read_csv("서울시 상권분석서비스(길단위인구-자치구).csv 파일경로",encoding='utf-8')
population = population[population['year_quater_cd'].isin([20221, 20222, 20223, 20224])]
population=population.drop(columns='autono_cd')
population.columns=['quter','gu','total','female','male','10','20','30','40','50','60','mon','tue','wed','thur','fri','sat','sun']

In [1]:
population

In [57]:
price=pd.read_csv("서울시 상권분석서비스(추정매출-자치구).csv 파일 경로")
price=price[price['year_quater_cd'].isin([20221, 20222, 20223, 20224])]
price=price.drop(columns='autono_cd')
price=price[price['service_nm'].isin(['치킨전문점', '호프-간이주점', '일식음식점', '양식음식점','한식음식점','커피-음료', '중식음식점','제과점','분식전문점', '패스트푸드점'])]

In [2]:
price

In [59]:
price=price.reset_index(drop=True)
price.drop(columns=['service_cd','week_sales_amount','weekend_sales_amount','hour_00to06_sales_amount',
                   'hour_06to11_sales_amount', 'hour_11to14_sales_amount',
                   'hour_14to17_sales_amount', 'hour_17to21_sales_amount',
                   'hour_21to24_sales_amount'],inplace=True)

In [3]:
price

In [61]:
service_nm=price['service_nm'].unique()

In [62]:
service_nm

array(['치킨전문점', '호프-간이주점', '일식음식점', '양식음식점', '한식음식점', '커피-음료', '중식음식점',
       '제과점', '분식전문점', '패스트푸드점'], dtype=object)

## 22년 1234분기 연령대별 유동인구 ~ 업종 관계

In [63]:
# 22년 1분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20221)].reset_index(drop=True)

In [4]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 22년 1분기 결과
'''
'치킨전문점' : x
'호프-간이주점' : 40
'일식음식점' : 40 전체 여 남
'양식음식점' : 40 전체 여 남
'한식음식점' : 40
'커피-음료' : 40 20
'중식음식점' : 40 50 20
'제과점' : x
'분식전문점' : 40
'패스트푸드점' : 40
'''

In [65]:
# 22년 2분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20222)].reset_index(drop=True)

In [5]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 22년 2분기 결과

'''
'치킨전문점' : 40
'호프-간이주점' :40
'일식음식점' :40
'양식음식점' :40
'한식음식점' :40 전체 남 여
'커피-음료' : 40 20
'중식음식점' : 40 20 50
'제과점' : 40
'분식전문점' :40
'패스트푸드점' :40
'''

In [69]:
# 22년 3분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20223)].reset_index(drop=True)

In [6]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 22년 3분기 결과
'''
'치킨전문점' : 40
'호프-간이주점' :40
'일식음식점' :40(0.00)
'양식음식점' :40
'한식음식점' :40
'커피-음료' :40 20
'중식음식점' :40 50
'제과점' :40
'분식전문점' :40
'패스트푸드점' :40
'''

In [71]:
# 22년 4분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20224)].reset_index(drop=True)

In [7]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 22년 4분기 결과
'''
'치킨전문점' : 40 10
'호프-간이주점' :40
'일식음식점' :40 20
'양식음식점' :40
'한식음식점' :40 (20 -> 0.064)
'커피-음료' :40 20
'중식음식점' :40 50 20
'제과점' :40
'분식전문점' :40
'패스트푸드점' :40 (20 -> 0.059), 50대 유의확률이 점점 0.05에 가까워지고 있음 => 상관이 생기고 있다?
'''

## 21년 유동인구 ~ 업종 관계

In [8]:
population=pd.read_csv("서울시 상권분석서비스(길단위인구-자치구).csv 파일경로",encoding='utf-8')
population = population[population['year_quater_cd'].isin([20211, 20212, 20213, 20214])]
population=population.drop(columns='autono_cd')
population.columns=['quter','gu','total','female','male','10','20','30','40','50','60','mon','tue','wed','thur','fri','sat','sun']

population

In [9]:
price=pd.read_csv("서울시 상권분석서비스(추정매출-자치구).csv 파일경로")
price=price[price['year_quater_cd'].isin([20211, 20212, 20213, 20214])]
price=price.drop(columns='autono_cd')
price=price[price['service_nm'].isin(['치킨전문점', '호프-간이주점', '일식음식점', '양식음식점','한식음식점','커피-음료', '중식음식점','제과점','분식전문점', '패스트푸드점'])]

price

In [77]:
# 필요 없는 컬럼 날려
price=price.reset_index(drop=True)
price.drop(columns=['service_cd','week_sales_amount','weekend_sales_amount','hour_00to06_sales_amount',
                   'hour_06to11_sales_amount', 'hour_11to14_sales_amount',
                   'hour_14to17_sales_amount', 'hour_17to21_sales_amount',
                   'hour_21to24_sales_amount'],inplace=True)

In [10]:
price

In [34]:
service_nm=price['service_nm'].unique()
service_nm

## 21년 1234분기 연령대별 유동인구 ~ 업종 관계

In [82]:
# 21년 1분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20211)].reset_index(drop=True)

In [12]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [12]:
# 21년 1분기 결과
'''
'제과점': 40 전체 여 남
'패스트푸드점':40 (30 -> 0.086 점점 0.05에 가까워짐)
'치킨전문점': x
'분식전문점': 40
'일식음식점':40
'양식음식점':40
'커피-음료':40 20
'중식음식점':40
'호프-간이주점':40 (20 -> 0.060)
'한식음식점':40
'''

In [84]:
# 21년 2분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20212)].reset_index(drop=True)

In [13]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 21년 2분기 결과
'''
'제과점': x(40 -> 0.067)
'패스트푸드점':40
'치킨전문점': 40
'분식전문점': 40
'일식음식점':40
'양식음식점':40
'커피-음료':40 20
'중식음식점':40
'호프-간이주점':40 20
'한식음식점':40
'''

In [86]:
# 21년 3분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20213)].reset_index(drop=True)

In [14]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 21년 3분기 결과
'''
'제과점': x(40 -> 0.060)
'패스트푸드점':40
'치킨전문점': x
'분식전문점': 40 (전체 남 여 -> 0.057)
'일식음식점':40
'양식음식점':40
'커피-음료':40 (20 -> 0.055)
'중식음식점':40 (50 -> 0.053)
'호프-간이주점':40
'한식음식점':40
'''

In [88]:
# 21년 4분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20214)].reset_index(drop=True)

In [15]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 21년 4분기 결과
'''
'제과점': x
'패스트푸드점':40
'치킨전문점': 40
'분식전문점': 40
'일식음식점':40
'양식음식점':40
'커피-음료':40 20
'중식음식점':40 (50 -> 0.052)
'호프-간이주점':40
'한식음식점':40
'''

## 20년 유동인구 ~ 업종 관계

In [16]:
population=pd.read_csv("서울시 상권분석서비스(길단위인구-자치구).csv 파일경로",encoding='utf-8')
population = population[population['year_quater_cd'].isin([20201, 20202, 20203, 20204])]
population=population.drop(columns='autono_cd')
population.columns=['quter','gu','total','female','male','10','20','30','40','50','60','mon','tue','wed','thur','fri','sat','sun']

population

In [17]:
price=pd.read_csv("서울시 상권분석서비스(추정매출-자치구).csv 파일경로")
price=price[price['year_quater_cd'].isin([20201, 20202, 20203, 20204])]
price=price.drop(columns='autono_cd')
price=price[price['service_nm'].isin(['치킨전문점', '호프-간이주점', '일식음식점', '양식음식점','한식음식점','커피-음료', '중식음식점','제과점','분식전문점', '패스트푸드점'])]

price

In [92]:
# 필요 없는 컬럼 날려
price=price.reset_index(drop=True)
price.drop(columns=['service_cd','week_sales_amount','weekend_sales_amount','hour_00to06_sales_amount',
                   'hour_06to11_sales_amount', 'hour_11to14_sales_amount',
                   'hour_14to17_sales_amount', 'hour_17to21_sales_amount',
                   'hour_21to24_sales_amount'],inplace=True)

In [18]:
price

In [35]:
service_nm=price['service_nm'].unique()
service_nm

## 20년 1234분기 연령대별 유동인구 ~ 업종 관계

In [97]:
# 20년 1분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20201)].reset_index(drop=True)

In [20]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 20년 1분기 결과
'''
'치킨전문점':x
'커피-음료':40 (20 -> 0.064)
'제과점':40
'일식음식점':40
'양식음식점':40
'패스트푸드점':40 (30 -> 0.068)
'분식전문점':40
'한식음식점':40
'호프-간이주점':40 30
'중식음식점':40
'''

In [99]:
# 20년 2분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20202)].reset_index(drop=True)

In [21]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 20년 2분기 결과
'''
'치킨전문점':40
'커피-음료':40 20
'제과점':40
'일식음식점':40
'양식음식점':40
'패스트푸드점':40 30
'분식전문점':40
'한식음식점':40
'호프-간이주점':40 30
'중식음식점':40
'''

In [101]:
# 20년 3분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20203)].reset_index(drop=True)

In [22]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 20년 3분기 결과
'''
'치킨전문점':40
'커피-음료':40 20
'제과점':x (40 -> 0.058)
'일식음식점':40
'양식음식점':40
'패스트푸드점':40
'분식전문점':40
'한식음식점':40
'호프-간이주점':40 30 20(-> 0.050)
'중식음식점':40
'''

In [103]:
# 20년 4분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20204)].reset_index(drop=True)

In [23]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 20년 4분기 결과
'''
'치킨전문점':x (40 -> 0.055)
'커피-음료':40
'제과점':x
'일식음식점':40
'양식음식점':40
'패스트푸드점':40 (30 -> 0.060)
'분식전문점':40
'한식음식점':40
'호프-간이주점':40
'중식음식점':40
'''

## 19년 유동인구 ~ 업종 관계

In [24]:
population=pd.read_csv("서울시 상권분석서비스(길단위인구-자치구).csv 파일경로",encoding='utf-8')
population = population[population['year_quater_cd'].isin([20191, 20192, 20193, 20194])]
population=population.drop(columns='autono_cd')
population.columns=['quter','gu','total','female','male','10','20','30','40','50','60','mon','tue','wed','thur','fri','sat','sun']

population

In [25]:
price=pd.read_csv("서울시 상권분석서비스(추정매출-자치구).csv 파일경로")
price=price[price['year_quater_cd'].isin([20191, 20192, 20193, 20194])]
price=price.drop(columns='autono_cd')
price=price[price['service_nm'].isin(['치킨전문점', '호프-간이주점', '일식음식점', '양식음식점','한식음식점','커피-음료', '중식음식점','제과점','분식전문점', '패스트푸드점'])]

price

In [107]:
# 필요 없는 컬럼 날려
price=price.reset_index(drop=True)
price.drop(columns=['service_cd','week_sales_amount','weekend_sales_amount','hour_00to06_sales_amount',
                   'hour_06to11_sales_amount', 'hour_11to14_sales_amount',
                   'hour_14to17_sales_amount', 'hour_17to21_sales_amount',
                   'hour_21to24_sales_amount'],inplace=True)

In [26]:
price

In [36]:
service_nm=price['service_nm'].unique()
service_nm

## 19년 1234분기 연령대별 유동인구 ~ 업종관계

In [112]:
# 19년 1분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20191)].reset_index(drop=True)

In [28]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 19년 1분기 결과
'''
'양식음식점':40
'치킨전문점':50
'패스트푸드점':40 30(-> 0.051)
'일식음식점':40
'분식전문점':x (40 -> 0.053)
'중식음식점':40
'한식음식점':40
'호프-간이주점':40 30 (20 -> 0.060)
'커피-음료':40 20(-> 0.050)
'제과점':40
'''

In [114]:
# 19년 2분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20192)].reset_index(drop=True)

In [29]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 19년 2분기 결과
'''
'양식음식점':40 (전체 남 여 -> 0.052)
'치킨전문점':x
'패스트푸드점':40
'일식음식점':40
'분식전문점':40
'중식음식점':40
'한식음식점':40
'호프-간이주점':40 30 20 (50 -> 0.063)
'커피-음료':40 (20 -> 0.060)
'제과점':40
'''

In [116]:
# 19년 3분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20193)].reset_index(drop=True)

In [30]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 19년 3분기 결과
'''
'양식음식점':40
'치킨전문점':x
'패스트푸드점':40
'일식음식점':40
'분식전문점':40
'중식음식점':40
'한식음식점':40 (전체 여 남 -> 0.059)
'호프-간이주점':40 30 (20 -> 0.067)
'커피-음료': 40 20
'제과점':40
'''

In [118]:
# 19년 4분기

for i in range(len(service_nm)):
    globals()[f'x_{i}']=price[(price['service_nm']==service_nm[i])&(price['year_quater_cd']==20194)].reset_index(drop=True)

In [31]:
for i in range(len(service_nm)):
    globals()[f'xx{i}']=pd.merge(population,globals()[f'x_{i}'],left_on=['quter','gu'],right_on=['year_quater_cd','autono_nm'])
    x=sm.add_constant(globals()[f'xx{i}'][['total','female','male','10','20','30','40','50']])
    y=globals()[f'xx{i}'][['month_sales_amount']]
    model=sm.OLS(y,x).fit()
    print(model.summary())

In [ ]:
# 19년 4분기 결과
'''
'양식음식점':40
'치킨전문점':40
'패스트푸드점':40
'일식음식점':40
'분식전문점':40
'중식음식점':40
'한식음식점':40
'호프-간이주점':40
'커피-음료':40
'제과점':40
'''

In [1]:
# >> 치킨전문점은 일부 연도를 제외하면 유동인구와 상관관계가 없음을 확인할 수 있다.
# >> 이를통해 치킨전문점은 특정 나이대에 관계없이 모든 연령대에서 소비함을 예상해볼 수 있을 것같다.

# >> 치킨전문점을 제외한 업종 대부분이 40대 유동인구와 상관관계가 있음을 확인할 수 있다(자녀 때문인가?.?)
# >> 1차 후보지 -> 40대 유동인구가 많은 자치구에 개업하면 다른 곳보다는 매출이 잘 나올 것이라고 예상해볼 수 있다.

## 40대 유동인구가 많은 자치구

In [32]:
# >> 자치구별 40대 유동인구 순위
sql = """
SELECT
  autono_nm,
  SUM(gen40_floating_pop) AS gen40_floating_pop
FROM
  `restaurant_consumption.pop_by_road`
GROUP BY
  autono_nm
ORDER BY
  2 DESC
LIMIT
  5
"""
pop_40 = client.query(sql).to_dataframe()
pop_40

# 1차 후보지: (아래 표)

In [37]:
explode = [0.1, 0, 0, 0,0]
plt.pie(
    pop_40["gen40_floating_pop"], 
    labels=pop_40["autono_nm"], 
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode=explode
)
plt.title("40대 유동인구 Top5")
plt.show()

In [38]:
sns.set_palette(sns.color_palette("pastel"))
sns.barplot(
    data = pop_40,
    x = 'autono_nm',
    y = 'gen40_floating_pop'
).set(
    title = "40대 유동인구 Top5"
)

## 자치구별 음식업종 비율

In [39]:
# 구별 전체 음식점 수 (40대 유동인구 Top5에 포함된 자치구만)
sql = """
SELECT
  autono_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  AND autono_nm IN('강남구', '송파구','마포구','관악구','서초구')
GROUP BY
  autono_nm
ORDER BY
  autono_nm
"""
store_all = client.query(sql).to_dataframe()
store_all

In [40]:
store_total_cnt = list(store_all["total_cnt"])
store_total_cnt

In [41]:
# 강남구 음식업별 점포 수
sql = """
SELECT
  service_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  and autono_nm like '%강남%'
GROUP BY
  service_nm
ORDER BY
  service_nm
"""
store_gangnam = client.query(sql).to_dataframe()

# 업종 점포 수 / (자치구별)전체 업종 수
store_gangnam["total_rat"] = (round(store_gangnam["total_cnt"] / store_total_cnt[0], 3))
store_gangnam

In [42]:
store_gangnam = store_gangnam.sort_values("total_rat", ascending=False)
store_gangnam = store_gangnam[0:5]
store_gangnam

In [43]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_gangnam["total_rat"], 
    labels=store_gangnam["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("강남구 업종비율 Top5")
plt.show()

In [44]:
# 관악구 음식업별 점포 수
sql = """
SELECT
  service_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  and autono_nm like '%관악%'
GROUP BY
  service_nm
ORDER BY
  service_nm
"""
store_gwanak = client.query(sql).to_dataframe()

# 업종 점포 수 / (자치구별)전체 업종 수
store_gwanak["total_rat"] = (round(store_gwanak["total_cnt"] / store_total_cnt[1], 3))
store_gwanak

In [45]:
store_gwanak = store_gwanak.sort_values("total_rat", ascending=False)[0:5]
store_gwanak

In [46]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_gwanak["total_rat"], 
    labels=store_gwanak["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("관악구 업종비율 Top5")
plt.show()

In [62]:
# 마포구 음식업별 점포 수
sql = """
SELECT
  service_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  and autono_nm like '%마포%'
GROUP BY
  service_nm
ORDER BY
  service_nm
"""
store_mapo = client.query(sql).to_dataframe()

# 업종 점포 수 / (자치구별)전체 업종 수
store_mapo["total_rat"] = (round(store_mapo["total_cnt"] / store_total_cnt[2], 3))
store_mapo

In [63]:
store_mapo = store_mapo.sort_values("total_rat", ascending=False)[0:5]
store_mapo

In [64]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_mapo["total_rat"], 
    labels=store_mapo["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode=explode
)
plt.title("마포구 업종비율 Top5")
plt.show()

In [65]:
# 서초 음식업별 점포 수
sql = """
SELECT
  service_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  and autono_nm like '%서초%'
GROUP BY
  service_nm
ORDER BY
  service_nm
"""
store_seocho = client.query(sql).to_dataframe()

# 업종 점포 수 / (자치구별)전체 업종 수
store_seocho["total_rat"] = (round(store_seocho["total_cnt"] / store_total_cnt[3], 3))
store_seocho

In [66]:
store_seocho = store_seocho.sort_values("total_rat", ascending=False)[0:5]
store_seocho

In [67]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_seocho["total_rat"], 
    labels=store_seocho["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode=explode
)
plt.title("서초구 업종비율 Top5")
plt.show()

In [71]:
# 송파구 음식업별 점포 수
sql = """
SELECT
  service_nm,
  SUM(store_cnt+similar_store_cnt) as total_cnt
FROM
  `restaurant_consumption.store`
WHERE
  (service_nm LIKE "%점" OR service_nm LIKE "커피%")
  AND service_nm NOT IN("편의점", "철물점", "한복점", "재생용품 판매점")
  and autono_nm like '%송파%'
GROUP BY
  service_nm
ORDER BY
  service_nm
"""
store_songpa = client.query(sql).to_dataframe()

# 업종 점포 수 / (자치구별)전체 업종 수
store_songpa["total_rat"] = (round(store_songpa["total_cnt"] / store_total_cnt[4], 3))
store_songpa

In [70]:
store_songpa = store_songpa.sort_values("total_rat", ascending=False)[0:5]
store_songpa

In [68]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_songpa["total_rat"], 
    labels=store_songpa["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode=explode
)
plt.title("송파구 업종비율 Top5")
plt.show()

## 40대 유동인구대비 점포 수

In [59]:
pop_40

In [58]:
pop_40_cnt = list(pop_40["gen40_floating_pop"])
pop_40_cnt

In [57]:
# 강남구 40대 유동인구 대비 점포 비율
store_gangnam["per_40fp"] = (store_gangnam["total_cnt"] / pop_40_cnt[0])
store_gangnam

In [56]:
explode = [0, 0, 0.1, 0, 0]
plt.pie( 
    store_gangnam["per_40fp"], 
    labels=store_gangnam["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode=explode
)
plt.title("강남구 40대 유동인구~점포")
plt.show()

In [55]:
# 관악구 40대 유동인구 대비 점포 비율
store_gwanak["per_40fp"] = (store_gwanak["total_cnt"] / pop_40_cnt[1])
store_gwanak

In [53]:
explode = [0, 0.1, 0, 0, 0]
plt.pie(
    store_gwanak["per_40fp"], 
    labels=store_gwanak["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("관악구 40대 유동인구~점포")
plt.show()

In [61]:
# 마포구 40대 유동인구 대비 점포 비율
store_mapo["per_40fp"] = (store_mapo["total_cnt"] / pop_40_cnt[2])
store_mapo

In [51]:
explode = [0.1, 0, 0.1, 0, 0]
plt.pie(
    store_mapo["per_40fp"], 
    labels=store_mapo["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("마포구 40대 유동인구~점포")
plt.show()

In [50]:
# 서초구 40대 유동인구 대비 점포 비율
store_seocho["per_40fp"] = (store_seocho["total_cnt"] / pop_40_cnt[3])
store_seocho

In [49]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_seocho["per_40fp"], 
    labels=store_seocho["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("서초구 40대 유동인구~점포")
plt.show()

In [48]:
# 송파구 40대 유동인구 대비 점포 비율
store_songpa["per_40fp"] = (store_songpa["total_cnt"] / pop_40_cnt[4])
store_songpa

In [47]:
explode = [0, 0, 0.1, 0, 0]
plt.pie(
    store_songpa["per_40fp"], 
    labels=store_songpa["service_nm"],
    autopct='%.1f%%',
    startangle=90,
    counterclock=False,
    colors=sns.color_palette("pastel"),
    wedgeprops = {'width':0.7,'edgecolor':'w','linewidth':3},
    explode = explode
)
plt.title("송파구 40대 유동인구~점포")
plt.show()

## 최종 결론

In [131]:
# 강남구
# >> 양식, 분식, 일식

# 관악
# >> 카페(대학생 타겟), 분식, 술집, 일식

# 마포
# >> 양식, 유흥주점, 분식

# 서초
# >> 분식, 양식, 일식

# 송파
# >> 분식, 일식, 유흥주점